  <!DOCTYPE html>
<html>
<head>
<meta name ="viewport"content ="width=device-width,initial-scale=1.0">
<title>基金會推薦系統</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="static/css/main.css">
<select id="organizationList" class="selectpicker">
</select>
<div class="user_input form-input">
	<input type="number" placeholder="战略" id="strategy">
	<input type="number" placeholder="影响力" id="influence">
	<input type="number" placeholder="执行力" id="execution">
	<button onclick="calculateFinalScore()" type="button" class="btn btn-primary">GO!</button>
</div>


<table id="table">
</table>


<script src= 'static/js/main.js'></script>